{% extends "base.j2" %}



{% block content %}
<div class='indexDiv'>

	<div> 
		<h1 id='title'>Hi, I'm Ayub </h1>
		<h3 id='devDiv' >  I'm a developer </h3>
		<div>
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" height="64" width="64"/>
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" height="64" width="64"/>
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" height="64" width="64"/>
		</div>
	</div>

	<div class='shortBio'>
		<p>
			I love to solve problems and enjoy learning new things every day. I spend hours daily learning, practicing and surpassing my limits, pushing ahead and polishing my skills.
		</p>
	</div>

	<div>
		
		<h2>Check out some of my projects</h2>



		<div class='projectDiv'>
			{%for proj in data['projectData']%}
				<div class="card">
					<img src="../static/images/{{proj['titleURL']}}.png" alt="Avatar" height="200px" style="width:100%">
					<div class="container">
						<p><b>{{proj['title']}}</b>:  {{proj['miniText']}} </p>
						<p>
							{{proj['technologies']}}
						</p>
						<a href="https://github.com/ayubf/{{proj['titleURL']}}">Learn more...</a>
					</div>
				</div>
			{%endfor%}
		</div>

	</div>

	<div>
		<h2>Some of my recent posts</h2>
		{% for post in data['postData']%} 
				<div class='postDiv'>
            		<a href="http://localhost:5000/posts/{{post['titleURL']}}"> <h3>{{post['title']}}</h3> </a>
					<p> {{" ".join(post['body'].split(" ")[:20]) }}... </p>
					<p> Date: {{post['date']}} </p>
					<p> Views: {{post['views']}}  </p>
				</div>
		{% endfor %}
	<div>

	<div class='contactDiv'>
		<h2>Contact me</h2>
		<p>
			Don't hesitate to contact me if you want to discuss programming, <br> Python libraries, JavaScript frameworks, or have any internship offers, advice or critique.
		</p>
		<a href='mailto:ayubaf04@gmail.com'>Email</a>
	</div>
</div>
{% endblock %}


