{% extends "base.j2" %}


{% block title %} | Posts {% endblock %}

{%block content%}
    <h1>Posts</h1>
    {% for post in data%} 
        <div class='postDiv'>
            <a href="http://localhost:5000/posts/{{post['titleURL']}}"> <h3>{{post['title']}}</h3> </a>
            <p> {{" ".join(post['body'].split(" ")[:20]) }}... </p>
            <p> Date: {{post['date']}} </p>
            <p> Views: {{post['views']}}  </p>
        </div>
    {% endfor %}
{% endblock %}