{% extends "base.j2" %}



{% block title %} | Projects {% endblock %}


{% block content %}
<div>
	<h1>Projects</h1>

		<div class='projectDiv'>
			{%for proj in data%}
				<div class="card">
					<img src="../static/images/{{proj['titleURL']}}.png" alt="Avatar" height="200px" style="width:100%">
					<div class="container">
						<p><b>{{proj['title']}}</b>:  {{proj['miniText']}} </p>
						<p>
							{{proj['technologies']}}
						</p>
						<a href="https://github.com/ayubf/{{data['titleURL']}}">Learn more...</a>
					</div>
				</div>
			{%endfor%}
		</div>

	</div>
</div>
{% endblock %}
