{% extends "base.j2" %}



{% block title %} | Projects {% endblock %}


{% block content %}
<div>
	<h1>Projects</h1>
	<div>

		<div class='projectDiv'>
			<div class="card">
				<img src="../static/images/2Do.png" alt="Avatar" height="200px" style="width:100%">
				<div class="container">
					<p><b>2Do</b>: To-do List Maker</p>
					<p>
						Made with ElectronJS, Javascript
					</p>
					<a href="https://github.com/ayubf/2Do">Learn more...</a>
				</div>
			</div>

			<div class="card">
				<img src="../static/images/rngtool.png" alt="Avatar" height="200px" style="width:100%">
				<div class="container">
					<p><b>rngtool</b>: Random Number Generation Tool</p>
					<p>
						Made with Python
					</p>
					<a href="https://github.com/ayubf/rngtool">Learn more...</a>
				</div>
			</div>

			<div class="card">
				<img src="../static/images/wordwide.png" alt="Avatar" height="200px" style="width:100%">
				<div class="container">
					<p><b>wordwide</b>: Command-line dictionary tool</p>
					<p>
						Made with Python
					</p>
					<a href="https://github.com/ayubf/wordwide">Learn more...</a>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
